extends ./layout.jade

block imports
	script(src='/webcomponentsjs/webcomponents.js')

	link(rel='import', href='/paper-material/paper-material.html')
	link(rel='import', href='/iron-form/iron-form.html')
	link(rel='import', href='/paper-button/paper-button.html')
	link(rel='import', href='/paper-input/paper-input.html')
	link(rel='import', href='/paper-tabs/paper-tabs.html')
	link(rel='import', href='/iron-pages/iron-pages.html')

	script(type='text/javascript', src='signin.js')

block contents
	h1 Welcome to Activate!
	template(is='dom-bind', id='tabSelector')
		paper-material(elevation="1")
			paper-tabs(selected="{{selected}}")
				paper-tab New User
				paper-tab Sign In
			iron-pages(selected="{{selected}}")
				div
					form#formNewUser(is="iron-form", name="newuser", method="post", action="/newuser", content-type="application/json")
						paper-input#newUserName(type="text", label="username", name="username", floatingLabel)
						paper-input#newPassword(type="password", label="password", name="password", floatingLabel)
						paper-input#newPasswordVerify(type="password", placeholder="password", name="passwordVerify")
					paper-button(onclick="submitForm()") Create
				div
					form#formLoginUser(is="iron-form", name="login", method="post", action="/login", content-type="application/json")
						paper-input#loginUserName(style='font-family: "Merriweather"', type="text", label="username", name="username")
						paper-input#loginPassword(type="password", placeholder="password", name="password")
					paper-button(onclick="submitForm()") Login
